/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: #161411;
  border-bottom: 0.8px solid #f9f7f3;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  cursor: pointer;
  height: 3rem;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #f9f7f3;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #f9f7f3;
  text-decoration: underline;
}
/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f9f7f3;
  background-color: #161411;
  gap: 3rem;
  height: 74rem;
}
.hero-text-box {
  text-align: center;
}
.bg-hero {
  background-image: url("/img/hero-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction {
  text-align: center;
  max-width: 80rem;
}

.hero-description {
  font-size: 1.4rem;
  color: #f9f7f3;
  line-height: 1.5;
  margin-bottom: 3.6rem;
  padding: 3.6rem 3.6rem;
}
/**************************/
/* MENU */
/**************************/
.section-menu {
  height: 100%;
  background-color: #f9f7f3;
  color: #2c2922;
}
.menu-title {
  display: block;
  height: 100%;
  align-items: center;
  text-align: center;
}
/* .margin-top-sm {
  margin-top: 3.6rem;
} */

.menu-cards-display {
  display: block;
  margin: 0 5.2rem;
}
.menu-cards {
  display: grid;
  column-gap: 2rem;
  row-gap: 7.4rem;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 5.2rem 0;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 4.4rem;
}
.menu-container {
  position: relative;
  width: 100%;
  padding-bottom: 2rem;
}
.menu-card img {
  width: auto;
  height: 40rem;
  object-fit: cover;
}
.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  opacity: 0;
  text-align: center;
}
.menu-container:hover .image-main {
  background-color: #544c4d;
  opacity: 0.3;
}
.menu-container:hover .middle {
  opacity: 1;
}

/* .menu-product {
  width: 44rem;
} */
.product-image {
  position: relative;
  /* width: 44rem; can be omitted for a regular non-lazy image */
  max-width: 100%;
  margin-bottom: 1.4rem;
}
.product-image img.Sirv.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
.product-image:hover img.Sirv.image-hover {
  opacity: 1;
}

/* .cards {
  max-width: 44rem;
}
.cards img {
  transition: all 0.3s;
} */
.menu-description {
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
}
.description {
  font-size: 1.4rem;
}

.price {
  align-self: flex-end;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #544c4d;
  transition: all 0.5s ease;
}
.menu-product:link .price,
.menu-product:active .price {
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-product:hover .price,
.menu-product:visited .price {
  text-decoration: underline;
  color: #9b8f76;
}
/**************************/
/* LOCATIONS */
/**************************/
.section-locations {
  text-align: center;
  padding-top: 9.6rem;
  color: #f9f7f3;
  background-color: #161411;
}
.locations {
  display: grid;
  height: 10rem;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #f9f7f3;
  transition: background-color 0.5s;
}

.locations:hover,
.locations:visited {
  background-color: #f9f7f3;
  color: #161411;
}
.address:link,
.address:active {
  color: #f9f7f3;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.5s;
  width: 100%;
}
.address:hover,
.address:visited {
  color: #161411;
}
/**************************/
/* ABOUTUS */
/**************************/
.section-about-us {
  height: 100rem;
  background-color: #161411;
  color: #f9f7f3;
}
.about-us {
  width: 100%;
  max-height: 100%;
}
.ab-intro {
  display: block;
  letter-spacing: 1.5px;
  font-weight: 100;
  padding: 0 50rem 0 19rem;
  height: 100%;
}
.section-owner {
  position: absolute;
  top: 50rem;
  right: 10rem;
  padding: 4rem;
}
.img-owner {
  width: 30rem;
}
/**************************/
/* POLICY */
/**************************/
.section-policy {
  display: flex;
  gap: 5.2rem;
  line-height: 2rem;
  background-color: #161411;
  color: #f9f7f3;
  padding: 9.6rem 40rem 0 19rem;
}
.policy-title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.all-policy {
  font-size: 1.6rem;
  font-weight: 100;
}
.privacy-link {
  color: #f9f7f3;
  transition: all 0.3s;
}

.privacy-act:link,
.privacy-act:hover,
.privacy-act:active,
.privacy-act:visited {
  color: #f9f7f3;
}
.app:link,
.app:hover,
.app:active,
.app:visited {
  color: #f9f7f3;
}
.privacy-link:link,
.privacy-link:active {
  text-decoration: none;
  color: #f9f7f3;
  transition: all 0.3s;
}
.privacy-link:hover,
.privacy-link:visited {
  text-decoration: underline;
  color: #decca8;
}

.terms-link:link,
.terms-link:active {
  text-decoration: none;
  color: #f9f7f3;
  transition: all 0.3s;
}
.terms-link:hover,
.terms-link:visited {
  text-decoration: underline;
  color: #decca8;
}
/* FORM */
.section-contact-form {
  display: flex;
  gap: 4.4rem;
  align-items: center;
  justify-content: center;
  color: #f9f7f3;
  background-color: #161411;
}
.emailBox {
  /* border: 0.8px solid #f9f7f3; */
  padding: 2.4rem 4rem;
}
.map {
  -webkit-filter: grayscale(100%);
}
input,
option,
textarea {
  font-family: "Manrope", serif;
}
